.content {
    position: relative;
    width: 640px;
    height: 480px;
    background: url("../sunrise_bw.png") no-repeat 0 0;
    overflow: hidden;
}
.spotlight {
    display: none;
    position: absolute;
    background: url("../sunrise_color.jpg") no-repeat 0 0;
}
